<br>
<h2>Create a Recipe</h2>

<div class="card">
  <form action="/recipe/create" method="post" class="form-group">
    <label for="name"><u>Name Your New Recipe</u></label><br>
    <input type="text" name="name">
    <button type="submit" class="btn btn-info">Submit</button>
  </form>
  <a href="/">Home</a>
</div>
